<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:wght@900&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Portfólio | Alexandre Cruz - Desenvolvedor Web</title>
</head>

<body>
    <div id="nav">
        <div id="header">
            <h1 id="logo">AC</h1>

            <img id="menu_button" width="48px" height="48px" src="{% static 'img/menu.png'%}">
        </div>
        <div id="menu_container">

            <ul>
                <center>
                   <a href="#home_container"> <li>Inicio</li></a>
                   <a href="#container_sobre"> <li>Sobre</li></a>
                   <a href="#container_habilidades"> <li>Habilidades</li></a>
                   <a href="#container_projetos"> <li>Projetos</li></a>
                   <a href="#container_contatos"> <li>Contatos</li></a>
                </center>

            </ul>

        </div>
    </div>
    <div id="home_container">
        <div id="perfil">
            <img src="{% static 'img/me.png' %}" style="border:5px solid white; border-radius: 50%;box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);">
            <h1>Olá, Eu sou o Alexandre !</h1>
            <h3>Desenvolvedor Web</h3>
        </div>
        <div id="container_button">
            <input type="button" class="btn_cheio" value="Download CV">
            <input type="button" class="btn_vazio" value="Entre em contato">
        </div>
    </div>

    <div id="container_sobre">
        <h1>Olá, Eu sou o Alexandre. <br> Prazer em conhece-lo!</h1>
        <p>Desenvolvedor Web com experiência em Python, Django, Postgresql, JavaScript.
            Estudante de Sistemas de Informação, cursando o 6º período e um apaixonado por tecnologia.
            Estou em busca de um estágio para além da obrigatoriedade da grade,
            mas com o objetivo de crescimento pessoal e profissional através de novos desafios. 
            Além disso, atuo como freelancer desenvolvendo aplicações web.
            </p>
    </div>
    <div id="container_habilidades">
        <h1>HABILIDADES</h1>
        <div class="container_cards">
            {% for habilidade in habilidades %}
            <div class="card_habilidade">
                <div class="circle_habilidade">
                    {% load static %}
                    <img src="../../media/{{habilidade.imagem}}" width="40vw" height="40vw">
                </div>
                <div class="nome_habilidade">{{habilidade.nome}}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="container_projetos">
        <h1>PROJETOS</h1>
        {% for projeto in projetos %}
        <div class="container_projeto_window">
            <div class="projeto_window" >
                <img src="../../media/{{projeto.imagem}}" width="498px" height="250px">
                <a href="{{projeto.url}}" class="btn_cheio_projeto_window">Ver mais</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="container_contatos">
        <h1 style="color:white;">CONTATOS</h1>
        <div class="circles_center">
            <div class="container_circle_contatos">
                {% for contato in contatos %}
                <div class="circle_contato_card">
                    <div class="circle_contato">
                        <img src="../../media/{{contato.imagem}}" width="28px" height="28px">
                    </div>
                    <h6 style="color: 141C3A;">{{contato.contato}}</h6>
                </div>
                {% endfor %}
            </div>
        </div>
     

    </div>
    <script src="{% static 'js/index.js'%}"></script>
</body>

</html>