<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:wght@900&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Portfólio | Alexandre Cruz - Desenvolvedor Web</title>
</head>

<body>
    <div id="nav">
        <div id="header">
            <h1 id="logo">AC</h1>
            <h1>Portfólio</h1>
            <img id="menu_button" width="48px" height="48px" src="{% static 'img/menu.png'%}">
        </div>
        <div id="menu_container">
            <ul>
                <center>
                   <a href="#" onclick="closeMenu()"><li>Inicio</li></a>
                   <a href="#sobre" onclick="closeMenu()"><li>Sobre</li></a>
                   <a href="#habilidades" onclick="closeMenu()"><li>Habilidades</li></a>
                   <a href="#projetos" onclick="closeMenu()"><li>Projetos</li></a>
                   <a href="#contatos" onclick="closeMenu()"><li>Contatos</li></a>
                </center>
            </ul>
        </div>
    </div>
    
    <div id="home_container">
        <div id="perfil">
            <img src="{% static 'img/programador.png' %}" width="150rem">
            <h2>Olá, Eu sou o Alexandre. <br> Prazer em conhece-lo!</h2>
        </div>
        <div id="container_button">
            <a href="../static/img/Alexandre Cruz - Currículo.pdf" class="btn_cheio" download>Download CV</a>
            <a href="https://wa.me/5521996924975" class="btn_vazio"  target="_blank">
            Entre em contato
            </a>
        </div>
    </div>

    <br><br>
    <div id="container_habilidades">
        <h2 id="habilidades">HABILIDADES</h2>
        <div class="container_cards">
            {% for habilidade in habilidades %}
            <div class="card_habilidade">
                <div class="circle_habilidade">
                    {% load static %}
                    <img src="../../media/{{habilidade.imagem}}" width="40vw" height="40vh">
                </div>
                <div class="nome_habilidade">{{habilidade.nome}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
    <div id="container_sobre">
        <h2 id="sobre" style="color:white">SOBRE</h2>
        
        <p>Desenvolvedor Web com experiência em Python, Django, Postgresql e JavaScript.
            Estudante de Sistemas de Informação, cursando o 6º período e um apaixonado por tecnologia.
            Estou em busca de um estágio para além da obrigatoriedade da grade,
            mas com o objetivo de crescimento pessoal e profissional através de novos desafios. 
            Além disso, atuo como freelancer desenvolvendo aplicações web.
            </p>
     

    </div>
    <br><br>
   

    <div id="container_projetos">
        <h2 id="projetos">PROJETOS</h2>
        <div class="container_projeto_window">
            {% for projeto in projetos %}
                <div class="projeto_window" >
                    <img src="../../media/{{projeto.imagem}}" width="498vw" height="200vw">
                    <a href="{{projeto.url}}" class="btn_cheio_projeto_window">Ver mais</a>
                </div>
            {% endfor %}
        </div>
    </div>
<br>
    <div id="container_contatos">
        <h2 id="contatos" style="color:white;">CONTATOS</h2>
        <div class="circles_center">
            <div class="container_circle_contatos">
                {% for contato in contatos %}

                {% if contato.contato == 'alexandrecruzprimeiro@gmail.com' %}
                <a href="mailto:alexandrecruzprimeiro@gmail.com" style="color: #141C3A" target="_blank">
                    <div class="circle_contato_card">
                        <div class="circle_contato">
                            <img src="../../media/{{contato.imagem}}" width="28px" height="28px">
                        </div>
                        <h6 >{{contato.contato}}</h6>
                    </div>
                    </a>
                {% else %}
                {% if contanto.link != '' %}
                <a href="{{contato.link}}" target="_blank">
                <div class="circle_contato_card">
                    <div class="circle_contato">
                        <img src="../../media/{{contato.imagem}}" width="28px" height="28px">
                    </div>
                    <h6>{{contato.contato}}</h6>
                </div>
                </a>
                {% else %}
                <div class="circle_contato_card">
                    <div class="circle_contato">
                        <img src="../../media/{{contato.imagem}}" width="28px" height="28px">
                    </div>
                    <h6 >{{contato.contato}}</h6>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
     

    </div>
    <script src="{% static 'js/index.js'%}"></script>
</body>

</html>